@charset "UTF-8";

*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.clearfix::after{
content:"";
display: block;
clear: both;
}

html{
	font-size: 62.5%;
	width: 100%;
	color: #3e4550;
	
/*
	font-family: "Noto Sans JP", sans-serif;
	font-optical-sizing: auto;
	font-weight:normal;
	font-style: normal;
*/
}

body{
	font-family: "Zen Kaku Gothic New", sans-serif;
  	font-weight: 400;
  	font-style: normal;
/*	font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";*/
}

h3{
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
	display: inline-block;
}

p{
	font-size: 14.4px;
	color: #383E45;
	line-height: 21px;
}

a{
	text-decoration: none;
	color: #000;
}

a:hover{
	transition-property: opacity;
	transition-duration: 0.3s;
	opacity: 0.7;
}

li{
	list-style-type: none;
}


/*ヘッダー*/

header{
	width: 960px;
	margin: 10px auto;
	padding: 0% 4%;
	display: flex;
	justify-content: space-between;
}

h1{
	width: 120px;
	height: 40px;
	background-color: #393E46;
	color: #fff;
	font-size: 23px;
	text-align: center;
	line-height: 40px;
}

h2{
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 80px;
}

ul{
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.nav{
	margin-left: 30px;
	font-size: 14.4px;
	line-height: 40px;
}

.navitem{
	margin-left: 30px;
	font-family: "Zen Kaku Gothic New", sans-serif;
  	font-weight: 500;
  	font-style: normal;
}

/*ヘッダー　ここまで*/

/*メイン*/

.mainvisualbox{
	width: 960px;
	display: flex;
	margin: 0 auto 100px;
	justify-content: space-between;
}

.mainvisual{
	width: 500px;
	display: block;
	margin-top: 200px;
}

.mainvisualtext{
	font-size: 50px;
	line-height: 50px;
	margin-top: 300px;
	font-weight: bold;
}

/*メイン　ここまで*/

/*about*/

#about{
	width: 960px;
	margin: 80px auto;
	padding: 0% 4%;
}

.name{
	font-size: 20px;
	font-weight: normal;
}

.aboutcontent{
	display: flex;
	justify-content: center;
}

.aboutimg{
	width: 200px;
	height: 200px;
	border-radius: 50vw;
	text-align: center;
	margin-right: 30px;
}

.abouttext{
	display: block;
	margin-bottom: 30px;
}

.more{
	font-size: 20px;
	display: block;
	margin: 60px 0 0 30px;
}

.arrow{
	width: 100px;
	height: 8px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	transform: skew(45deg);
}
/*about ここまで*/

/*works*/

.worksimg{
	width: 	280px;
	display: block;
	margin: 30px 0;
}

.workscontent{
	display: flex;
	justify-content: space-between;
}

.workscontentbottom{
	display: flex;
}

.worksbox-package{
	margin-right: 60px;
}

#works{
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

.workstitle3{
	margin-top: 50px;
}

.workstitle9{
	margin-top: 40px;
}

.workstitle11{
	margin-top: 80px;
}

/*works ここまで*/

/*footer*/

.footer{
	display: block;
	width: 960px;
	height: 100px;
	background-color: #b0c4de;
	margin: 100px auto 0;
}

.footer-nav{
	justify-content: flex-end;
	font-size: 14.4px;
}

.footer-navitem{
	margin:30px 30px 30px 0;
	font-family: "Zen Kaku Gothic New", sans-serif;
  	font-weight: 500;
  	font-style: normal;
	
}

small{
	display: block;
	text-align: center;
}

/*footer ここまで*/

/*2ページ目〜11ページ目共通*/

h4{
	font-size: 20px;
	font-weight: bold;
	margin: 50px 0;
}

.bunnerimg{
	width: 960px;
	text-align: center;
	margin: 50px auto;
}

.bunner{
box-shadow: 5px 6px 5px #c0c0c0
}

.bunnertext{
	width: 960px;
	margin: 0 auto;
}

.bunnertexttop{
	margin-bottom: 30px;
}

.arrows{
	width: 960px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}

.prevew{
	font-size: 20px;
	display: block;
	margin: 60px 0 0 30px;
}

.nextonly{
	margin: 0 0 0 auto;
}

.next{
	font-size: 20px;
	display: block;
	margin: 60px 0 0 30px;
}

.arrow{
	width: 100px;
	height: 8px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	transform: skew(45deg);
}

.arrowleft{
	width: 100px;
	height: 8px;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	transform: skew(325deg);
}

/*2ページ目〜11ページ目共通　ここまで*/

/*12ページ目*/

.name{
	margin-bottom: 30px;
}

span{
	font-weight: bold;
}

.myprofileimg{
	display: block;
	margin-top: 80px;
}

.myprofiletexttop{
	display: block;	
}

.myprofiletextmiddle{
	display: block;
	margin-top: 20px;
}

.myprofiletextbottom{
	display: block;
	margin-top: 20px;
}

.myprofiletextbox{
	margin-top: 130px;
}

.career{
	width: 960px;
	margin: 0 auto;
}

.careerbox{
	display: flex;
/*	padding: 30px 0;*/
}

.nichiidate{
	display: block;
	padding: 40px 40px 40px 0;
}

.heiseidate{
	display: block;
	padding: 40px 40.5px 40px 0;
}

.emplosdate{
	display: block;
	padding: 40px 40.5px 40px 0;
}

.samuraidate{
	display: block;
	padding: 40px 34px 40px 0;
}

.cosmodate{
	display: block;
	padding: 40px 39px 40px 0;
}

.careertext{
	display: block;
	padding: 40px 40px 0 40px;
	text-transform: uppercase;
}

.careertextsamurai{
	display: block;
	padding: 40px 40px 0 40px;
}

.border{
	border-left: 2px solid #4682b4;
}

.samuraiborder{
	border-left: 2px solid #4682b4;
}
